#homes {
	width:800px;
    height:800px;
    border:1px solid black;
    display:block;
    margin:20px auto;
}

section.main-page { 
	width: 900px; 
	overflow: auto; 
	margin: 0 auto; 
	text-align: center;
}

ul.list-no-style { list-style-type: none; }
li.horizontal { display: inline; padding-right: 2em; }

.apartment { color: red; }
.house { color: green; }
.flat { color: blue; }
